.login {
  width: 200vh;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginLogo {
  font-size: 120px;
  font-weight: 800;
  color: #4263eb;
  margin-bottom: 10px;
  cursor: Pointer;
}

.loginDesc {
  font-size: 24px;
  cursor: none;
}

.registerBox {
  height: 400px;
  padding: 40px 80px;
  background-color: white;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.loginInput {
  height: 50px;
  border-radius: 6%;
  border: 1px solid gainsboro;
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}
.loginButton {
  height: 50px;
  border-radius: 10px;
  background-color: #3b5bdb;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  width: 90%;
  transition: 0.3s all;
}

.loginButton:hover {
  background-color: #364fc7;
}

.loginForgot {
  text-align: center;
  color: #748ffc;
}

.loginRegisterButton {
  width: 70%;
  height: 40px;
  border-radius: 10px;
  background-color: #37b24d;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  transition: 0.3s all;
}

.loginRegisterButton:hover {
  background-color: #2f9e44;
}

.signup-signup {
  font-size: 20px;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 10px;
  color: #fff;
  background-color: #2f9e44;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}

.signup-signup:hover,
.signup-signup:active {
  background-color: #267e36;
}

.signup-login {
  font-size: 20px;
  font-weight: 400;
  padding: 12px 24px;
  border-radius: 10px;
  color: #fff;
  background-color: #4263eb;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}

.signup-login:hover,
.signup-login:active {
  background-color: #2e45a5;
}

iframe {
  display: none;
}
