* {
  font-family: "Roboto", sans-serif;
}

.share {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.shareProfileImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.shareInput {
  border: none;
  width: 80%;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px 0px 20px;
}

.shareOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.shareOptionText {
  margin-left: 7px;
}

.shareIcon {
  font-size: 28px;
  margin-right: 3px;
}

.shareOptionText {
  font-weight: 500;
  font-size: 17px;
}

.shareButton {
  margin-top: 10px;
  border: none;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 5px;
  background-color: #1971c2;
  font-weight: 500;
  cursor: pointer;
  color: white;
  transition: 0.3s all;
  font-weight: 500;
}

.shareButton:hover {
  background-color: #1864ab;
}

.shareImgContainer {
  padding: 0 20px 10px 20px;
  position: relative;
}

.shareImg {
  width: 100%;
  object-fit: cover;
}

.shareCancelImg {
  position: absolute;

  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.75;
}
